@import './styles/variables.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 300rem;
  font-size: 9rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 150rem;
  font-size: 4rem;
  text-align: justify;
}

p {
  text-align: justify;
  font-size: 2rem;
}

h1, h2, p {
  padding: 0;
  margin: 0;

}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 12px 24px;
  color: var(--white);
  width: 20rem;
  height: 6rem;
  cursor: pointer;
  font-size: 1.5rem;
}

button:hover {
  background-color: var(--blue);
  border: none;
}


a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);

}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    min-width: 100%;
    min-height: 100vh;
}

.about-container {
  display: flex;
  padding: 3rem;
  background-color: var(--blue);
  }

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}


.name-row {
  text-shadow: -2px 2px var(--white-shadow);
}

.about-items {
  padding: 0.8rem;
}


.wrapper{
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.socials-wrapper, .button-wrapper {
  padding: 1rem;
  min-width: 1rem;
}


.span-bottom:before {
  content: '';
  background-color: var(--black);
  display: block;
  height: 0.5rem;
}

.span-top {
  padding:  1rem;
}

.span-note {
  font-size: 1.5rem;
  color: var(--blue);
  width: 40rem;
}

.span-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 1;
  padding-right: 1;
  text-align: center;
  font-size: 2rem;

}

.span-bottom #text {
  padding-left: 1rem;
  padding-right: 1rem;
}


/*media query*/

@media (min-width: 992px){
      .app {
        margin: 0;
        padding: 0;
        display: flex;
        font-family: 'Inter', sans-serif;
          color: var(--black);

      }

      .container {
          min-height: 100%;
          min-width: 50%;
      }

      .span-note {
        font-size: 0.5rem;     
        width: 100%; 
      }

    .span-wrapper {
     font-size: 1rem;
       }

   button {
       padding: 12px 24px;
       width: 10rem;
       height: 3rem;
       font-size: 0.8rem;
 
    }

     h1 {
        font-size: 4rem;
      }

      h2 {
       font-size: 2rem;
 
     }

     p {
        font-size: 1rem;
      }


    }



/*welcome section*/
.welcome-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.welcome-container .bubble-wrapper {
  display: flex;
  font-size: 1rem;
  padding: 6px 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  text-align: center;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.welcome-container .welcome-wrapper:hover .bubble-wrapper {
   margin-bottom: 0.8rem;
  opacity: 1;
  pointer-events: auto;
}


.welcome-container .bubble-wrapper::before {
  content: "";
  position: absolute;
  bottom: 56%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 1rem;
  width: 1rem;
  background-color: var(--white);
}

.welcome-container .bubble-wrapper i {
  font-size: 1rem;
  line-height: 2rem;
  cursor: none;
}

/*socials-hover*/